[tool.poetry]
name = "clerk-backend-api"
version = "0.5.0-alpha.9"
description = "Python Client SDK for clerk.dev"
authors = ["Clerk",]
readme = "README.md"
repository = "https://github.com/clerk/clerk-sdk-python.git"
packages = [
    { include = "clerk_backend_api", from = "src" }
]
include = ["py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.27.0"
jsonpath-python = "^1.0.6"
pydantic = "~2.8.2"
python-dateutil = "^2.9.0.post0"
typing-inspect = "^0.9.0"

[tool.poetry.group.dev.dependencies]
pylint = "==3.2.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = ["src"]
