# Verification


## Supported Types

### `models.Otp`

```python
value: models.Otp = /* values here */
```

### `models.Admin`

```python
value: models.Admin = /* values here */
```

### `models.Oauth`

```python
value: models.Oauth = /* values here */
```

