# VerificationWeb3VerificationStatus

## Example Usage

```python
from clerk_backend_api.models import VerificationWeb3VerificationStatus

value = VerificationWeb3VerificationStatus.UNVERIFIED
```


## Values

| Name         | Value        |
| ------------ | ------------ |
| `UNVERIFIED` | unverified   |
| `VERIFIED`   | verified     |
| `FAILED`     | failed       |
| `EXPIRED`    | expired      |