# Verification


## Supported Types

### `models.Otp`

```python
value: models.Otp = /* values here */
```

### `models.Admin`

```python
value: models.Admin = /* values here */
```

### `models.FromOAuth`

```python
value: models.FromOAuth = /* values here */
```

### `models.Ticket`

```python
value: models.Ticket = /* values here */
```

### `models.VerificationSAMLVerificationEmailAddressSAML`

```python
value: models.VerificationSAMLVerificationEmailAddressSAML = /* values here */
```

### `models.EmailLink`

```python
value: models.EmailLink = /* values here */
```

### `models.VerificationSCIM`

```python
value: models.VerificationSCIM = /* values here */
```

