# VerificationWeb3VerificationStatus


## Values

| Name         | Value        |
| ------------ | ------------ |
| `UNVERIFIED` | unverified   |
| `VERIFIED`   | verified     |
| `FAILED`     | failed       |
| `EXPIRED`    | expired      |