# Verification


## Supported Types

### `models.Otp`

```python
value: models.Otp = /* values here */
```

### `models.Admin`

```python
value: models.Admin = /* values here */
```

### `models.FromOAuth`

```python
value: models.FromOAuth = /* values here */
```

### `models.Ticket`

```python
value: models.Ticket = /* values here */
```

